In [16]:
import pandas as pd
import numpy as np
import os
import shutil
import re
import time

df = pd.read_excel("Rapporter til oversettelse.xlsx", dtype={"Partner":"object", "Prosjektnummer":"object"})

array([12137, 12164, 12272, 12375, 12706, 12865, 12896, 13151, 13234,
       13235, 13276, 13378, 13466, 13529, 13554, 13851, 13852, 13864,
       13874, 13976, 14019, 14020, 14061, 14191, 14328, 14363, 14370,
       14390, 14432, 14507, 14535, 14583, 14586], dtype=object)

In [17]:
import webbrowser

for prosjekt in df["Prosjektnummer"].unique():
    url = f"https://menonbusinesseconomics.sharepoint.com/sites/{prosjekt}/Shared%20Documents/Forms/AllItems.aspx"
    webbrowser.open(url, new=2)

In [21]:
for prosjekt in df["Prosjektnummer"].unique():
    df.loc[df['Prosjektnummer'] == prosjekt, 'url'] = f"https://menonbusinesseconomics.sharepoint.com/sites/{prosjekt}/Shared%20Documents/Forms/AllItems.aspx"

In [22]:
df

,Partner,Prosjektnummer,Unnamed: 2,url
0,Leo,12137,NaN,https://menonbusinesseconomics.sharepoint.com/...
1,Leo,12164,NaN,https://menonbusinesseconomics.sharepoint.com/...
2,Leo,12272,NaN,https://menonbusinesseconomics.sharepoint.com/...
3,Leo,12375,NaN,https://menonbusinesseconomics.sharepoint.com/...
4,Even,12706,NaN,https://menonbusinesseconomics.sharepoint.com/...
5,Erland,12865,NaN,https://menonbusinesseconomics.sharepoint.com/...
6,Leo,12896,NaN,https://menonbusinesseconomics.sharepoint.com/...
7,Kristoffer,13151,NaN,https://menonbusinesseconomics.sharepoint.com/...
8,Erik,13234,NaN,https://menonbusinesseconomics.sharepoint.com/...
9,Jonas,13235,NaN,https://menonbusinesseconomics.sharepoint.com/...
10,Even,13276,NaN,https://menonbusinesseconomics.sharepoint.com/...
11,Erland,13378,NaN,https://menonbusinesseconomics.sharepoint.com/...
12,Even,13466,NaN,https://menonbusinesseconomics.sharepoint.com/...
13,Erik,13529,NaN,https://menonbusinesseconomics.sharepoint.com/...
14,Even,13554,NaN,https://menonbusinesseconomics.sharepoint.com/...
15,Even,13851,NaN,https://menonbusinesseconomics.sharepoint.com/...
16,Kristoffer,13852,NaN,https://menonbusinesseconomics.sharepoint.com/...
17,Even,13864,NaN,https://menonbusinesseconomics.sharepoint.com/...
18,Jonas,13874,NaN,https://menonbusinesseconomics.sharepoint.com/...
19,Erland,13976,NaN,https://menonbusinesseconomics.sharepoint.com/...
20,Erik,14019,NaN,https://menonbusinesseconomics.sharepoint.com/...
21,Erland,14020,NaN,https://menonbusinesseconomics.sharepoint.com/...
22,Even,14061,NaN,https://menonbusinesseconomics.sharepoint.com/...
23,Jonas,14191,NaN,https://menonbusinesseconomics.sharepoint.com/...
24,Even,14328,NaN,https://menonbusinesseconomics.sharepoint.com/...
25,Jonas,14363,NaN,https://menonbusinesseconomics.sharepoint.com/...
26,Erland,14370,NaN,https://menonbusinesseconomics.sharepoint.com/...
27,Jonas,14390,NaN,https://menonbusinesseconomics.sharepoint.com/...
28,Erik,14432,NaN,https://menonbusinesseconomics.sharepoint.com/...
29,Erik,14507,NaN,https://menonbusinesseconomics.sharepoint.com/...
30,Jonas,14535,NaN,https://menonbusinesseconomics.sharepoint.com/...
31,Erik,14583,NaN,https://menonbusinesseconomics.sharepoint.com/...
32,Leo,14586,x,https://menonbusinesseconomics.sharepoint.com/...

In [23]:
df.to_clipboard(index=False)